header {
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

#pageLogo {
    margin: 0 auto;
    display: inline-block;
    color: yellow;
}



