.navButton {
    margin: 0.5em;
    border-radius: 100px;
    padding: 0.3em 1em;
    color: turquoise;
    border-color: turquoise;
    background: transparent;
}

.navButton:hover {
    background-color: rgba(64, 200, 200, 0.4);
}

.navButton:focus {
    outline: 0;
}