header {
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#pageLogo {
    font-size: 3em;
    display: inline-block;
    color: yellow;
    padding: 1rem;
}