@font-face {
    font-family: 'Star Jedi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Star Jedi Regular'), url('Starjedi.woff') format('woff');
}

body {
    margin: 20px;
    font-family: "Star Jedi Regular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("https://wallpaperaccess.com/full/11814.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}