.infoCard {
    background-color: rgba(64, 200, 200, 0.4);
    color: turquoise;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    display:block
}